body
{
	background-color:white;
}


#topbar
{
	height:10px;
	width:100%;
	color:red;
}
#container
{
	height:700px;
	width:70%;
	margin:0px auto;
}
#header
{
	height:80px;
	background-color:rgb(255, 255, 255);
} 
#header img
{
	height:30px;
}
#header ul
{
	float:right;
	margin-top:25px;
}
#header ul li
{
	display:inline;
	margin-right:20px;
	color: darkgrey;
	
}	
#header ul li a
{
	
	color:#49B5CD;
	text-decoration:none;
	font-size:20px;
	
}
#banner img
{
	width:100%;
	padding-bottom:20px;
} 
#content1
{
	width:32%;
	height:350px;
	background-color:#F86900;  
	float:left;
margin-right:2%;
} 
#content2
{
	width:32%;
	height:350px;
	background-color:#FFc502;
float:left;	
} 
#content3 
{
	width:32%;
	height:350px;
	background-color:#A2c511 ; 
float:right;	
} 
.heading
{
	color:white;
	margin-left:20px;
	font-size:28px;
} 
.para
{
	color:white;
	margin-left:20px;
	margin-right:9px;
}
.more
{
	text-decoration:none;
	color:black;
	background-color:white;
	padding:8px;
	margin-left:20px;
}
#bottom1
{
	margin-top:10px;
	width:60%;
	float:left;
}
#bottom2
{
	margin-top:15px;
	width:40%;
	float:right;
}
#bottom1 h2
{
	color:black;
	margin-left:20px;
}
#bottom1 p
{
	color:black;
	margin-left:20px;
	margin-right:8px;
} 
#bottom1 a{
	margin-left:20px;
	color:orange;
}
#bottom2 h2
{
	color:black;
	margin-left:20px;
}

	
